<ul class="menu text-uppercase hide-for-large">
    <li><a href="#"><i></i><span>Todos</span></a></li>
    <li><a href="#"><i></i><span>Nuevos</span></a></li>
    <li><a href="#"><i></i><span>Los más vendidos</span></a></li>
    <li><a href="#"><i></i><span>Accesorios</span></a></li>
    <li><a href="#"><i></i><span>Para regalar</span></a></li>
    
    <li class="font-bold"><a href="#"><i></i><span>Custom Tattly</span></a></li>
    <li class="font-bold"><a href="#"><i></i><span>Pride</span></a></li>
    <li class="font-bold"><a href="#"><i></i><span>Resist</span></a></li>
  </ul>
<ul class="vertical menu text-uppercase show-for-large">
  <li><a href="#"><i></i><span>Todos</span></a></li>
  <li><a href="#"><i></i><span>Nuevos</span></a></li>
  <li><a href="#"><i></i><span>Los más vendidos</span></a></li>
  <li><a href="#"><i></i><span>Accesorios</span></a></li>
  <li><a href="#"><i></i><span>Para regalar</span></a></li>
  <li><hr></hr></li>
  <li class="font-bold"><a href="#"><i></i><span>Custom Tattly</span></a></li>
  <li><hr></hr></li>
  <li class="font-bold"><a href="#"><i></i><span>Pride</span></a></li>
  <li><hr></hr></li>
  <li class="font-bold"><a href="#"><i></i><span>Resist</span></a></li>
</ul>